<h1>Flights</h1>

<% @flights.each do |flight| %>
  <div id="flight-<%= flight.id %>">
    <h3><%= flight.airline_name %> <%= flight.number %></h3>
    <% flight.passengers.each do |passenger| %>
      <div id="passenger-<%= passenger.id %>">
        <p>
          <%= passenger.name %>
          <%= button_to 'Remove passenger', booking_path(flight.booking_for(passenger.id)), method: :delete, local: true %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>